.seller-page-home {
  margin: 0;
  padding: 24px;

  display: flex;
  flex-direction: column;
}

.seller-page h1 {
  margin-bottom: 1.5rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}