@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 930px) {
  :root {
    --header-top-bottom-gap: 4rem;
    --mini-header-top-bottom-gap: 1rem;
  }

  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .header-logo-text h1 {
    margin: 0;

    font-size: 3rem;
    line-height: 1.2;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    -webkit-user-select: none;
    user-select: none;
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeSlideIn 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
}

@media (max-width: 929px) {
  :root {
    --header-top-bottom-gap: 2rem;
    --mini-header-top-bottom-gap: 0.5rem;
  }

  .header-logo-text h1 {
    visibility: hidden;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.76);
  background-image: url('/guitar.jpg');
  background-size: cover;
  background-blend-mode: overlay;

  color: white;

  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  flex-direction: column;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.37);
}

.header-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--header-top-bottom-gap);
  margin-top: var(--header-top-bottom-gap);
}

.mini-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;

  margin-bottom: var(--mini-header-top-bottom-gap);
  margin-top: var(--mini-header-top-bottom-gap);
}

.header-logo-text {
  display: flex;
  align-items: center;
  gap: var(--header-top-bottom-gap);
}

.header-logo-text h1 strong {
  font-weight: 500;
}

.logo {
  width: 20rem;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.mini-header-logo {
  width: 10rem;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.header-shopping-cart {
  width: 5rem !important;
  height: 5rem !important;
  color: white;
}

.mini-header-shopping-cart {
  width: 2rem !important;
  height: 2rem !important;
  color: white;
}

.nav {
  color: white;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.mini-header-nav {
  flex: 1;
}

.nav {
  color: white;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.nav a {
  margin: 0;
  text-decoration: none;
  text-wrap: nowrap;
  color: white;
}

#searchbar {
  flex: 1;
}